<!-- ===========================================================-->
<!-- Project 3                                                  -->
<!--                                                            -->
<!-- Issue:       29-Aug-2022                                   -->
<!-- Presentation:12-Sep-2022                                   -->
<!-- Submission:  19-Sep-2022                                   -->  
<!-- Note:        Heroku deployment                             -->
<!-- ===========================================================-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Victoria Crime Data Visualization</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <style>
    h4 {text-align: center;}
    p {text-align: center;}
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-centre"  >
        <h1 style="color: #a44d0bf3;">Victoria Crime Data Visualization</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12  col-md-9">
        <div class="article">
          <h3 style="color: blue">Welcome to explore Victorian Crime Incident Data</h3>
          <br>
          <h4>You can navigate to different webpage to see different view of the data as below:
          <h6>- Enter 'api/searchRegion' to see crime data in different years and regions.
            - Enter 'api/compareRegion' to see region comparision by year.
            - Enter 'api/searchLGA' to see Local Government Area by year.
          </h6>
          <p></p>
          <p></p>
        </div>
      </div>
    </div>   
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='js/app-search.js') }}"></script>
  
</body>

</html>
