<!-- ===========================================================-->
<!-- Project 3                                                  -->
<!--                                                            -->
<!-- Issue:       29-Aug-2022                                   -->
<!-- Presentation:12-Sep-2022                                   -->
<!-- Submission:  19-Sep-2022                                   -->  
<!-- Note:        Heroku deployment                             -->
<!-- ===========================================================-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Victoria Crime Visualization</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <style>
    h4 {text-align: center;}
    p {text-align: center;}
  </style>
</head>

<body>

  <div class="container">
    <div class="row">

      <!-- <div class="col-md-12 jumbotron text-center" style="background: {{url_for('Images', filename='VicCrime.png')}} no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; " > -->
      <div class="col-md-12 jumbotron text-center"> 
        <h1 style="color: white;">Victoria Crime Visualization</h1>
      </div>
    </div>
    <div class="row">   
      <!-- Participant ID dropdown and demographic info -->
      <div class="col-md-2">
          
        <div class="well">
            <div class="panel panel-primary">
              <h4><strong>Year:</strong></h4>
              <select id="selYear" onchange="optionChanged(this.value)"></select>
            </div>
            <div class="panel panel-primary">
              <h4><strong>Police Region:</strong></h4>
              <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>                   
            <button id="filter-btn" type="button" class="btn btn-default">Search...</button>
        </div> <!-- form-group -->
      <!-- Line chart -->
      <div class="col-md-10" padding=20px>   
        <div class="well">         
          <div>
            <canvas id="line-chart"> </canvas>
          </div>
        </div>
      </div>      
      <!-- Bar chart for Top 10 crime LGA  -->
      <div class="col-md-10" padding=20px>   
        <div class="well">        
          <div>
            <canvas id="bar-chart"> </canvas>
          </div>
        </div>
      </div>
      <!-- Belly button scrub frequency in gauce chart  -->
      <div class="col-md-5" padding=50px>            
        <div class="well">             
           <div id="gauge-chart"></div>    
        </div>    
      </div>
    </div>    
    <!-- Participant's all OTUs in bubble chart -->
    <div class="row">
      <div class="col-md-12">  
        <div class="well">         
          <div id="bubble-chart"> </div> 
        </div>           
      </div>
    </div>    
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='js/app-csv.js') }}"></script>
  
</body>

</html>
